<!DOCTYPE html>
<html>
  <head>
    <title>Mira</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='nav-wrapper'>
      <nav class='nav-menu'>
        <ul class='clearfix'>
          <li>
            <%= link_to 'MIRA', root_path %>
          </li>
          <li class='dropdown'>
            <%= link_to 'Comics', comics_path %>
            <ul class='sub-menu' style='margin-left: -8em;'>
              <% Comic.all.each do |comic| %>
                <li>
                  <%= link_to comic.name, comic_path(comic) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class='dropdown'>
            <%= link_to 'Webcomics', web_comics_path %>
            <ul class='sub-menu'>
              <% WebComic.all.each do |comic| %>
                <li>
                  <%= link_to comic.name, web_comic_path(comic.id) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class='dropdown'>
            <%= link_to 'Anthologies', anthologies_path %>
            <ul class='sub-menu'>
              <% Anthology.all.each do |comic| %>
                <li>
                  <%= link_to comic.name, anthology_path(comic.id) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to 'Bio', bio_path %>
          </li>
          <li>
            <%= link_to 'Contact', contact_path %>
          </li>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
