<!DOCTYPE html>
<html>
  <head>
    <title>Mira</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container navbar'>
      <nav>
        <ul>
          <li>
            <%= link_to 'MIRA', root_path %>
          </li>
          <li>
            <%= link_to 'Comics', comics_path %>
            <ul>
              <% Comic.all.each do |comic| %>
                <li>
                  <%= link_to comic.name, comic_path(comic) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to 'Webcomics', web_comics_path %>
            <ul>
              <% WebComic.all.each do |comic| %>
                <li>
                  <%= link_to comic.name, web_comic_path(comic.id) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to 'Anthologies', anthologies_path %>
            <ul>
              <% Anthology.all.each do |anthology| %>
                <li>
                  <%= link_to "The #{anthology.name} Anthology", anthology_path(anthology) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to 'Bio', bio_path %>
          </li>
          <li>
            <%= link_to 'Contact', new_contacts_path %>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
